<template>
  <section>
    <div v-if="return_message != null" class="alert alert-success alert-dismissible fade show" role="alert">
      <span>{{return_message}}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span @click="return_message = null" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card">
      <div class="card-header">Comprando...<a class="float-right btn btn-primary" href="/shoppinglist" role="button">Mis listas</a></div>
      <div class="card-body">
        <form @submit.prevent="submit_edit()" validate>
          <div class="form-group">
            <input type="text" name="name" v-model="titulo" placeholder="Ingrese el nombre de la lista" class="form-control" required>
          </div>
          <div class="row">
            <table class="table">
              <thead>
              <tr>
                <th>Productos</th>
                <th>Cantidad</th>
              </tr>
              </thead>
              <tbody>
              <template v-for="product in shoppinglist_products">
                <tr @click="success_add(product.id)" :class="{'table-success' : bought.indexOf(product.id) != -1}">
                  <td>
                    <span>{{product.name}}</span>
                  </td>
                  <td>
                    <span>{{product.pivot.product_account}}</span>
                  </td>
                </tr>
              </template>
              </tbody>
            </table>
          </div>
          <button class="btn btn-primary" type="submit">Terminar</button>
        </form>
      </div>
      <pre>
      {{$data}}
    </pre>
    </div>
  </section>
</template>
<script>
  export default {
    props:['products','shoppinglist','shoppinglist_products'],
    data(){
      return{
        return_message: null,
        titulo:null,
        bought:[],
        bought_final:[]
      }
    },
    mounted: function(){
      this.titulo = this.shoppinglist.name;
        for(let i = 0;i<this.shoppinglist_products.length;i++){
          if(this.shoppinglist_products[i].pivot.product_status === 1){
            this.bought.push(this.shoppinglist_products[i].id)
          }
        }
    },
    methods: {
      success: function (index) {
        this.bought.push(index);
      },
      success_add(id) {
        let pos = this.bought.indexOf(id);
        if (pos !== -1) {
          this.bought.splice(pos, 1)
        } else {
          this.bought.push(id)
        }
      },
      submit_edit() {
        for(let i=0;i<this.shoppinglist_products.length;i++){
          let pos_prod = this.bought.indexOf(this.shoppinglist_products[i].id);
          if(pos_prod !== -1){
            this.bought_final.push({
              iden: this.shoppinglist_products[i].id,
              status: 1
            });
          }else{
            this.bought_final.push({
              iden: this.shoppinglist_products[i].id,
              status: 0
            });
          }
        }
        let dis = this;
        axios.put('/shopping/' + this.shoppinglist.id, {'bought':this.bought_final})
            .then(function (response) {
              dis.return_message = response.data.success;
              dis.bought_final = [];
            })
            .catch(function (error) {

            });
      }
    }
  }
</script>