<template>
  <section>
    <div v-if="return_message != null" class="alert alert-success alert-dismissible fade show" role="alert">
      <span>{{return_message}}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span @click="return_message = null" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card">
      <div class="card-header">{{type === 'edit' ? 'Editar la lista' : 'Crear nueva Lista de compras'}}<a class="float-right btn btn-primary" href="/shoppinglist" role="button">Mis listas</a></div>
      <div class="card-body">
        <form @submit.prevent="type==='edit' ? submit_edit() : submit()" validate>
          <div class="form-group">
            <input type="text" name="name" v-model="form.titulo" placeholder="Ingrese el nombre de la lista" class="form-control" required>
          </div>
          <div class="row">
            <div class="col-8"><label>{{form.product_id.length < 1 ? 'Haz click en agregar producto' : 'Agregar otro producto' }}</label></div>
            <div class="col-4"><label>{{form.product_id.length < 1 ? '' : 'Cantidad' }}</label></div>
          </div>
          <template v-for="(product,index) in form.product_id">
            <div class="form-group row">
              <div class="col-7">
                <select class="form-control" name="category_id" required v-model="form.product_id[index]">
                  <template v-for="product in products">
                    <option :value="product.id">{{product.name}}</option>
                  </template>
                </select>
              </div>
              <div class="col-3">
                <input required class="form-control" type="number" min="0" v-model.number="form.product_account[index]">
              </div>
              <div class="col-2">
                <button type="button" @click="remove_product(index,$event)" class="btn btn-danger"><i style="color: white" class="fa fa-times-circle"></i></button>
              </div>
            </div>
          </template>
          <button class="btn btn-info" @click="add_product">Agregar productos</button>
          <button v-if="form.product_id.length > 0" class="btn btn-primary" type="submit">Guardar</button>
        </form>
      </div>
    </div>
    <pre>{{$data}}</pre>
  </section>
</template>
<script>
  export default {
    props:['products','shoppinglist','shoppinglist_products','type'],
    data(){
      return{
        return_message:null,
        form:{
          titulo:null,
          product_id:[],
          product_account:[],
          detach:false,
        }
      }
    },
    mounted: function(){
      this.form.type = this.type;
      if(this.type === 'edit'){
        this.form.titulo = this.shoppinglist.name;
        for(let i = 0; i<this.shoppinglist_products.length ; i++){
          this.form.product_id.push(this.shoppinglist_products[i].id);
          this.form.product_account.push(this.shoppinglist_products[i].pivot.product_account);
        }
      }else{
        this.form.product_id.push("");
      }
    },
    methods:{
      remove_product(index,val){
        val.preventDefault();
        let pos = this.form.product_id.indexOf(index);
        this.form.product_id.splice(pos, 1);
        this.form.product_account.splice(pos, 1);
      },
      add_product(val){
        val.preventDefault();
        if(this.type === 'create'){
          this.form.product_id.push('');
        }else{
          this.form.product_id.push(this.shoppinglist_products[0].id);
          this.form.product_account.push(5);
        }
      },
      submit(){
        let dis = this;
        axios.post('/shoppinglist',this.form)
      .then(function (response){
        dis.return_message = response.data.success;
        dis.form.titulo = null;
        dis.form.product_id = [];
        dis.form.product_id.push(this.shoppinglist_products[0].id);
        dis.form.product_account.push(5);
      })
      .catch(function (error){

      });
      },
      submit_edit(){
        let dis = this;
        axios.put('/shoppinglist/'+this.shoppinglist.id,this.form)
            .then(function (response){
              dis.return_message = response.data.success;
            })
            .catch(function (error){

            });
      }
    }
  }
</script>