.p-100{
  padding: 0 100px;
}
.ml-7{
  margin-left: 7rem;
}
body{
  height: 100vh;
  background: url("/images/shutterstock_233040343.jpg");
  background-size: 100vh;
}
.card{
  &.card-register{
    background: #ffffff75;
    input{
      border: 2px solid grey;
    }
  }
}